<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>Our History</h1>
    <p>We began our journey last year, driven by a passion for 
        flowers and plants. Over the years, we have faced challenges and celebrated
         milestones, all of which have contributed to shaping who we are today. 
         Our commitment to excellence and customer satisfaction remains unwavering.</p>

    
    <h2>Our Mission</h2>
    <p>Our mission is to expand to the whole world! </p>

    <h2>Our Team</h2>
    <p>Meet our dedicated team of professionals who work tirelessly to bring you the best services and products.</p>

    <h2>Company Values</h2>
    <p>We prioritize integrity, innovation, and customer satisfaction in everything we do.</p>
</body>
</html>
