<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flower shop</title>
</head>
<body>

 
    <h2>Our Story</h2>

    <p>We are passionate about bringing beauty into your life through our exquisite collection of flowers.</p>

    <h2>Our Services</h2>

    <p>At our flower shop, we offer a wide range of services, including custom floral arrangements, flower delivery, and event decorations.</p>

    <h2>Contact Us</h2>
    
    <p>Visit us at 123 Blossom Street or give us a call at (555) 123-4567. We would love to hear from you!</p>
    
</body>
</html>
